<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>I am a college student from Haverford College majoring in Computer Science and minoring in Economics.
            During my free time I like to do workouts in gym, play basketball and badminton with my friends, play 
            guitar (will learn it this summer 2018!), and learn different cool stuffs. Never give up easily. Work hard,
            and train hard. And I am still single.</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_languages %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Natural Language Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_languages %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>